[Unit]
Description=openvim

[Service]
User=openvim
ExecStart=/opt/openvim/openvimd.py -c /opt/openvim/openvimd.cfg
Restart=always

[Install]
WantedBy=multi-user.target
